.relative-full {
  position: relative;
  height: 100%;
  width: 100%;
}

.ingredient-card {
  width: 30rem;
  padding: 0.25em;
  height: 5em;
  line-height: 5rem;
  background-color: #ddd;
  border-radius: 4px;
  margin: 1rem;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s, box-shadow 0.25s;
}

.ingredient-card:hover {
  transform: scale(1.05);
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}

.ingredient-card > h1 {
  font-size: 2.25em;
  vertical-align: middle;
  padding: 0;
  margin: 0;
  color: #b20202;
}

.gu-mirror {
  transform: scale(1.05), rotate(-5deg) !important;
  font-family: "Creepster", "Helvetica", Arial, sans-serif !important;
}
