.potion-card {
  background-color: rgba(255, 255, 255, .3);
  width: 30rem;
  padding: 0em;
  height: 5em;
  line-height: 5rem;
  border-radius: 4px;
  margin: 1rem;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s, box-shadow 0.25s;
  overflow: hidden;
}

.potion-card:hover {
  transform: scale(1.05);
}

.potion-card .potion-img {
  width: 30%;
  margin: 0 1rem 0 0;
  background-color: #eee;
  background-size: cover;
  background-position: center;
}

.potion-card > h1 {
  font-size: 2.25em;
  vertical-align: middle;
  padding: .25rem 0 0 0;
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .7);
  background-size: cover;
}
